@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 10px;
  background-color: white; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rosybrown; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rosybrown;
  background-color: rosybrown; }

::selection {
  background-color: rosybrown;
  color: black; }

html {
  scroll-behavior: smooth; }

.titulo, .navbar, .nuevatem {
  height: 75px;
  width: 100%;
  padding: 15px;
  background-color: black;
  color: rosybrown;
  font-family: 'Montserrat', sans-serif; }

.navbar a:hover {
  color: rosybrown; }

.navbar .dropdown-menu, .navbar .dropdown-menu .dropdown-item {
  background-color: black; }
  .navbar .dropdown-menu a:hover {
    color: rosybrown; }

.navbar a {
  color: white; }

.marginbottom {
  margin-bottom: 100px; }

.nuevatem {
  margin-bottom: 100px; }

.card-group {
  max-width: 85%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px; }
  .card-group .card {
    padding: 15px;
    margin: 20px; }
    .card-group .card .btn-primary {
      background-color: black;
      border: black solid 2px; }
    .card-group .card .btn-primary:hover {
      background-color: #464646;
      color: rosybrown;
      border: #464646; }

a {
  color: black; }

a:hover {
  color: rosybrown; }

.subh3 {
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px; }

.row {
  font-family: 'Montserrat', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 15px; }
