@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// font-family: 'Montserrat', sans-serif;


$color1: black;
$color2: white;
$color3: rosybrown;
$color4: rgb(70, 70, 70);

@mixin cards {
    font-family: 'Montserrat', sans-serif;
    color: $color1;
    border-radius: 10px;
    padding: 15px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $color2;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $color3;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px $color3;
    background-color: $color3;
}

::selection {
    background-color: $color3;
    color: $color1;
}

html {
    scroll-behavior: smooth;
}


.titulo {
    height: 75px;
    width: 100%;
    padding: 15px;
    background-color: $color1;
    color: $color3;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    @extend .titulo;

    a:hover {
        color: $color3;
    }

    .dropdown-menu {
        background-color: $color1;

        .dropdown-item {
            @extend .dropdown-menu;
        }
        a:hover {
            color: $color3;
        }
    }

    a {
        color: $color2;
    }
}
.marginbottom {
    margin-bottom: 100px;
}

.nuevatem {
    @extend .titulo;
    margin-bottom: 100px;
}

.card-group {
    max-width: 85%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;

    .card {
        padding: 15px;
        margin: 20px;

        .btn-primary {
            background-color: $color1;
            border: $color1 solid 2px;
        }
        .btn-primary:hover {
            background-color: $color4;
            color: $color3;
            border: $color4;
        }
    }
}
a {
    color: $color1;
}
a:hover{
    color:$color3;
}

$color: (
    backcolor: white,
    textcolor: black
);

.subh3 {
    background-color: map-get($color, backcolor);
    color: map-get($color, textcolor);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.row {
    @include cards;
}

footer {
    @extend .titulo;
    height: 300px;
    margin-top: 80px;
    
    h6 {
        color: $color2;
        margin: 10px;
    }
    i {
        color: $color2;
        margin: 10px;
    }

    img {
        height: 25px;
        width: 35px;
        margin: 1.5px;
    }
}